<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 10px 6px 6px 10px;
  text-decoration: none;
  font-size: 24px;
  color: #818181;
  display: block;
  font-family: Impact;
  color: white;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div class="sidenav">
  <img src="https://www.pngall.com/wp-content/uploads/5/Profile-Avatar-PNG-Picture.png" alt="Profile Pic" style="width: 100px;" /> 
  <a style="color: rgb(129, 129, 129);">Navigation</a>
  <a href="/staffhome"><i class="fa fa-home" style="font-size:25px"></i> &nbsp; &nbsp;Dashboard</a>
  <a href="/insertmerit"><i class="fa fa-edit" style="font-size:25px"></i> &nbsp; &nbsp;Insert Merit</a>
  <a href="/studentlist"><i class="fa fa-group" style="font-size:25px"></i> &nbsp; &nbsp;Student List</a>
</div>
   
</body>
</html> 