
    <%- include ("../_partial/_header") -%>

    <%- include ("../_partial/_sidebar1") -%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html>
        <head>
        <style>
        .center {
          margin: auto;
          width: 90%;
          border: 3px solid #6d6e6c;
          padding: 10px;
          position: center;
          border-radius: 10px;
          background-color: rgb(255, 255, 255)
        }
        .center1 {
          margin: auto;
          width: 100%;
          border: 3px solid #6d6e6c;
          padding: 10px;
          position: center;
          border-radius: 10px;
          background-color: rgb(255, 255, 255);
        }
        .column {
          float: left;
          width: 30%;
          padding: 10px;
          border-radius: 10px;
          border-style: solid;
          border-color: rgb(255, 255, 255);
          column-count: 0;
          column-gap: 40px;
          background-color: #263525;
          color: white;
        }

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        .container{
           margin: auto;
           padding-left: 40px;
        }
        .hd{
          text-align: center;
          color: rgb(186, 29, 29);
          font-weight: bold;
        }
        .h1{
          padding-top:10px;
          color:#494a47;
        }
        .body{
          background-color: rgb(224, 227, 227)
        }
        </style>
        </head>

        <body class="body">
        
        <h1 class="h1">Unicycle:</h1>
        <h1 class="h1">Merit Management</h1>
        
        <div class="center">
          <p class="hd">RECYCLE YOUR WASTE, SAVE ENERGY, CONSERVE RESOURCES AND PRESERVE THE <br> NATURE OF THE WORLD</p>
        </div>
        <br>

          <div class="row">
            <div class="column">
              <h2>Amount of Recycled Items</h2>
              <p>Some text..</p>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="column">
              <h2>Amount of Student Completed</h2>
              <p>Some text..</p>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="column">
              <h2>Amount of Staffs</h2>
              <p>Some text..</p>
            </div>
          </div>
          <br>
        <!-- content -->
        <div class="center1"id="" style="overflow:scroll; height:300px;">
          <p>As part of APU's long-term mission and vision, we consistently work to provide a wide spectrum of Malaysian students with access to a top-notch education. We provide a number of fee Awards that may lead to refunds or reductions in an ongoing attempt to give deserving and intelligent school leavers greater opportunities to continue their studies at Malaysia's Award-Winning University.
            The APU Awards recognise people who, in addition to academic excellence, have distinguished themselves through outstanding leadership qualities and noteworthy sports achievements at the state and national levels. The lives of these individuals ought to be better, and APU will endeavour to make that happen.
            The APU Scholarships & Merit Awards pay for the whole academic term. If you are given the APU Scholarship & Merit Award, your scholarship will still be in effect.</p>
        </div>
        </body>
        </html>

<%- include ("../_partial/_footer") -%>